[run]
source = 
    src/string_pyramid.py
omit = 
    src/complementary_dna.py
    src/data_reverse.py
    src/forbes.py
    src/forbes.json
    src/format_names.py
    src/hit_count.py
    src/Is_Thue_Morse.py
    src/proper_parenthetics.py
    src/sort_cards.py
    src/your_order_please.py
    src/most_digits.py
    src/test_sort_cards.py
    src/test_string_pyramid.py
    src/test_parenthetics.py
    src/test_complementary_dna.py
    src/test_data_reverse.py
    src/test_forbes.py
    src/test_format_names.py
    src/test_hit_count.py
    src/test_Is_Thue_Morse.py
    src/test_most_digits.py
    src/test_your_order_please.py
[report]
show_missing = True